# COMPUTER SPECIFIC INFO:
COMPUTER_POSITION=2
SERVER_URL=http://URL
MONGO_DB_URL=mongodb://URL/

PYTHON_PATH=/Users/pianist/development/krack-python/
PYTHON_API=http://127.0.0.1:5000/
MONGO_DB=krack
RABBIT_MQ_URL=amqp://name:password@url:port
DYNAMSOFT_PRODUCT_KEY=t0077xQAAAHVIbrgatXC6dYEfWRfB8nafF0LrfpFmDNwNM2T/bpuDarGmDumf4s5W5iwFAtAZGBgnTQxakqBDC9zBfZB8+OAWzV3tAbuPK20=
TERMINAL_COMMAND_TO_RESTART_PYTHON_API="pm2 restart flask-app"
PUBLIC_JWT_KEY=riddlemethis
AUTH_TOKEN_EXPIRE_MINUTES=12000
EMAIL_SERVICE=gmail
EMAIL_USER=example@gmail.com
EMAIL_PASS=examplepass
CREATE_PASSWORD_PAGE_URL=https://krack.springsapps.com/create-password/