<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Krack recognition</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="shortcut icon" href="/uploads/fav.png" />
</head>
<body>
    <div class="container">
        <div class="welcome_title_wrapper">
            <div class="welcome__top_title">BIENVENIDO A</div>
            <div class="welcome__bottom_title">KRACK RECOGNITION</div>
        </div>
        <button class="bottom_btn" onclick="httpGet()">ENTRAR</button>
        <div class="copy_author">Copyright © 2020 Krack Recognition</div>
    </div>

    <script>
        function httpGet(){
            window.location.replace("/recognize");
        }
    </script>
</body>
</html>