body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Pompadur; /* Гарнитура шрифта */
    src: url(../fonts/RobotoCondensed-Regular.ttf); /* Путь к файлу со шрифтом */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 33px 60px;
    height: 92.5vh;
    font-family: Roboto Condensed, sans-serif;
    position: relative;
}

.container_top_line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_top_line_title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    font-stretch: ultra-condensed;
}

.container_top_line_button {
    background: rgba(235, 87, 87, 0.1);
    border: 0.5px solid #EB5757;
    box-sizing: border-box;
    border-radius: 5px;
    width: 72px;
    height: 32px;
    color: #EB5757;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.container__main_content {
    width: 100%;
    height: calc(100% - 140px);
    display: flex;
    margin-top: 33px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}

.container__image__wrapper {
    min-width: 68%;
    height: 100%;
    border-radius: 10px;
}

.container__camera_image__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #828282;
}

.container__image {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container_camera__image {
    border-radius: 10px;
    height: 10%;
    width: 10%;
    object-fit: cover;
}

.container__camera_info {
    margin-top: 20px;
}

.container__info {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom_btn {
    margin-top: 174px;
    width: 280px;
    height: 48px;
    background: #27AE60;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.container__info .bottom_btn {
    margin-top: 0;
    width: 100%;
}

.container__info_title,
.container__info_sub_title {
    font-weight: bold;
    line-height: 16px;
}

.container__info_title {
    color: #333333;
    font-size: 16px;
    margin-bottom: 24px;
}

.container__info_sub_title {
    color: #EB5757;
    font-size: 14px;
}

.container__info_values {
    display: flex;
    flex-direction: column;
}

.container__info_line {
    display: flex;
    justify-content: space-between;
}

.container__info_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100px;
}

.container__info_item_title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #E0E0E0;
    margin-bottom: 12px;
}

.container__info_item_value {
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    margin-bottom: 24px;
}

.top_info .container__info_item_value {
    color: #2F80ED;
}

.bottom_info .container__info_item_value {
    color: #6FCF97;
}

.copy_author {
    position: absolute;
    margin: 0 auto;
    bottom: 33px;
    font-size: 12px;
    line-height: 20px;
    color: #828282;
}
